body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333; 
    background-image: url('wave.png');
    background-repeat: repeat; 
    background-size: 13% 13%;
    
}
@keyframes color {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}



.capt {
    font-size: 16px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: rgba(229, 229, 229, 0.8);
    border-radius: 30px;
    margin-right: 40px;
    display: inline-block;
}

.capt a{
    text-decoration: none;
}

.container {
    text-align: center;
    color: #383838;
    text-shadow: #b10d0d;
    position: relative;
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    border-radius: 10%;
    animation: fadeInUp 2.5s ease-out;
}

.container img{
   
    max-width: 25%; 
    height: auto;
    object-fit: contain;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    mix-blend-mode: difference; 
}

.navi {
    padding: 15px;
    background-color: rgb(37, 38, 40);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 10px 20px 0 rgba(182, 178, 178, 0.2);
}
.profil img {
    float: left;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    
}
.profil a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: bold;
    color: #ffffff7c;
    text-decoration: none;
    margin-right: 50px;
    display: flex; 
    align-items: center; 
    transition: color 0.05s;
}


p {
    font-size: 1.5em;
    animation: fadeInUp 2.5s ease-out; 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.border {
    padding: 150px;

    background-color: rgb(69, 62, 62);
    display: left;
    justify-content: space-between; 
    align-items: left; 
    box-shadow: 0 10px 20px 0 rgba(71, 67, 67, 0.2);
  
}

.border p1{
    color: #fbfbfb;
    
    text-align: left;
    margin: left;
    
}

.container h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(69, 69, 66);
    


}
.text-container {
    text-align: left;
    padding: 0 20px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}